@import "tailwindcss";

:root {
  --Default: #F8F9FC;
  --Default-50: #F5F5F5;
  --Default-100: #EFEFEF;
  --Default-200: #EDECEE;

   /* 🎯 Texto principal */
   --text-primary: #415771;

   /* 📑 Texto secundario / menos importante */
   --text-secondary: #8E8E8E;
   /*🔵 Text azul claro */
   --text-tertiary: #3F72AF;

   /* ✨ Texto claro sobre fondo oscuro (o viceversa si haces dark mode) */
   --text-light: #DDE6F6;
 
   /* 🧊 Texto sutil / deshabilitado */
   --text-muted: #B8C0CA;
 
   /* 📝 Títulos (fuertes, destacados) */
   --text-heading: #112D4E;
 
   /* 🔘 Botones principales */
   --button-primary: #214E83;

   /*Tipografia*/

    --font-size-medium: 1.2rem;

}

@theme inline {
  --color-default: var(--Default);
  --color-default-50: var(--Default-50);
  --color-default-100: var(--Default-100);
  --color-default-200: var(--Default-200);
  
  --text-color-primary: var(--text-primary);
  --text-color-secondary: var(--text-secondary);
  --text-color-light: var(--text-light);
  --text-color-muted: var(--text-muted);
  --text-color-heading: var(--text-heading);
  --text-color-tertiary: var(--text-tertiary);

  --color-button-primary: var(--button-primary);

  --font-size-medium: var(--font-size-medium);
}

body {
  background: var(--color-default);
}
