# Entorno virtual
venv/

# Archivos de configuración
.env
.env.*

# Caché de Python
__pycache__/
*.py[cod]
*.pyo

# SQLite (si la usas)
*.sqlite3

# VS Code settings (opcional)
.vscode/

# Archivos generados por Uvicorn
*.log

# Otros
*.db
*.DS_Store
